In [63]:
import pandas
import numpy
import requests
import random

In [64]:
# https://stackoverflow.com/questions/18834636/random-word-generator-python

word_site = "http://svnweb.freebsd.org/csrg/share/dict/words?view=co&content-type=text/plain"

response = requests.get(word_site)
WORDS = response.content.splitlines()

In [65]:
word_list = [x.decode('utf-8') for x in WORDS]
word_list[0:10]

['a',
 'AAA',
 'AAAS',
 'aardvark',
 'Aarhus',
 'Aaron',
 'ABA',
 'Ababa',
 'aback',
 'abacus']

In [66]:
row_ct = 1000
col_ct = 40

In [67]:
col_list=[]
for indx in range(col_ct):
    col_list.append(random.choice(word_list))

In [68]:
df = pandas.DataFrame(numpy.random.randint(0,100,size=(row_ct, col_ct)),columns=col_list)
df.shape

(1000, 40)

In [69]:
df.head()

,delude,antique,Pergamon,directory,integrate,pectoral,wiener,inconstant,quack,slob,...,Seneca,ropy,Roseland,frog,playa,handicraftsman,linoleic,scorpion,trill,migrate
0,89,71,63,19,43,46,37,23,94,30,...,60,16,35,65,70,40,61,84,67,7
1,20,79,55,17,65,81,7,13,97,19,...,49,83,4,35,57,59,80,79,65,97
2,15,45,66,89,9,51,81,21,27,33,...,10,31,78,55,45,14,52,12,33,8
3,58,32,15,85,34,88,33,77,52,90,...,0,72,73,97,82,90,99,93,25,82
4,7,30,18,13,21,44,40,52,70,21,...,46,25,6,17,75,34,84,70,26,85

In [70]:
for col in df.columns:
    for indx in range(df.shape[0]//2):
        df.loc[df.sample(1).index,col] = random.choice(word_list)

In [71]:
df.head()

,delude,antique,Pergamon,directory,integrate,pectoral,wiener,inconstant,quack,slob,...,Seneca,ropy,Roseland,frog,playa,handicraftsman,linoleic,scorpion,trill,migrate
0,89,71,63,19,43,debauch,stablemen,solo,actinic,gregarious,...,60,conifer,35,65,70,halide,dump,pup,67,7
1,lime,plait,transmitting,17,dogma,81,7,13,97,19,...,49,83,devour,weight,wit,volumetric,arithmetic,79,65,97
2,15,45,keynote,89,9,51,81,shallot,27,dropout,...,10,31,78,percept,45,worst,craft,12,childbearing,8
3,58,32,15,85,heavyset,88,equanimity,77,southbound,90,...,blowfish,72,73,97,nuclei,batch,99,matriarchal,25,82
4,7,30,docket,13,21,44,40,peer,70,21,...,46,borax,sprue,17,75,34,printmake,70,over,85

In [72]:
with open('file_to_parse.csv','w') as fil:
    for col in df.columns[:-1]:
        fil.write(col+', ')
    fil.write(df.columns[-1])
    fil.write("\n")
    for indx in range(df.shape[0]):
        fil.write(str(df.at[indx,df.columns[0]])+" : ")
        for col in range(1,df.shape[1]-1):
            fil.write(str(df.at[indx,df.columns[col]])+" | ")
        fil.write(str(df.at[indx,df.columns[df.shape[1]-1]]))
        fil.write("\n")

!cat file_to_parse.csv